#icon {
  position: absolute;
  right: 5px;
  top: 35%;
  bottom: 0;
  font-size: 20px;
  cursor: pointer;
}

input {
  position: relative;
}

.ok {
  border: 2px solid lightgreen !important;
}

.notOk {
  border: 2px solid red !important;
}
