* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brown: #4a3837;
  --red: #fe121c;
  --white: #fff9e6;
  --blue: #199cc8;
  --yellow: #f9fe02;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.main-container {
  width: 250px;
  border: 5px solid var(--brown);
  margin: 50px;
  background-color: var(--brown);
}

.tcontainer {
  width: 100%;
  height: 180px;
}

.bcontainer {
  width: 100%;
  height: 70px;
  margin-top: 8px;
}

.tcontainer-cleft {
  width: 32.5%;
  height: 100%;
}

.tcontainer-cright {
  background-color: var(--red);
  width: 65%;
  height: 100%;
}

.tcontainer-cleft-tbox {
  height: 44%;
  width: 100%;
  background-color: var(--white);
  margin-bottom: 11px;
}

.tcontainer-cleft-bbox {
  height: 50%;
  width: 100%;
  background-color: var(--white);
}

.bcontainer-firstbox {
  width: 32.5%;
  height: 100%;
  background-color: var(--blue);
}

.bcontainer-secondbox {
  width: 50%;
  height: 100%;
  background-color: var(--white);
  margin-left: 6px;
}

.bcontainer-thirdbox {
  width: 12%;
  height: 100%;
  margin-left: 7px;
}

.bcontainer-thirdbox-tbox {
  width: 100%;
  height: 42%;
  background-color: var(--white);
  margin-bottom: 11px;
}

.bcontainer-thirdbox-bbox {
  width: 100%;
  height: 42%;
  background-color: var(--yellow);
}
